<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Rickmorty</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="inicio">Inicio</a>
        </li>
      </ul>
    </div>
  </div>
</nav>




<div class="text-center p-3" *ngIf="isLoading">
  <div class="spinner-border text-success" role="status">
    <span class="sr-only"></span>
  </div>
</div>


<div class="p-3" *ngIf="!isLoading">
  <div class="row">
    <div class="col-sm-3" *ngFor="let person of persons">
      <app-person-card [person]="person"></app-person-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 d-flex justify-content-center p-3">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" aria-label="Previous" (click)="firstPage()">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only"></span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" aria-label="Previous one" (click)="prevPagination()">
              <span aria-hidden="true"> &lt; </span>
              <span class="sr-only"></span>
            </a>
          </li>
          <li class="page-item" *ngFor="let page of pagination" [ngClass]="{'active':page ===currentPage}">
            <a class="page-link" (click)="goPage(page)">{{page}}</a>
          </li>
          <li class="page-item">
            <a class="page-link" aria-label="Next one" (click)="nextPagination()">
              <span aria-hidden="true"> &gt;</span>
              <span class="sr-only"></span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" aria-label="Next" (click)="lastPage()">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only"></span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
