<div class="card">
  <img class="card-img-top" [src]="person.image" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{person.name}}</h5>
    <div class="card-text d-flex flex-column">
      <div>
        <span class="text-primary">Estado : </span><span>{{person.status}}</span>
      </div>
      <div>
        <span class="text-primary">Género : </span><span>{{person.gender}}</span>
      </div>
      <div>
        <span class="text-primary">Tipo : </span><span>{{person.type}}</span>
      </div>
    </div>
  </div>
</div>
